/*Ha Na's CSS*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#E3F1EA;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.btn-success{
    background-color: #26A529;
    border-color: #9EE61A;
}

.btn-success:hover {
    background-color: #19B241;
    border-color: #9EE61A;
}
.btn-warning{
    background-color: #F3D213;
    border-color: #F3DA50;
}

.log-in-center{
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.comp-list-wrapper {
    margin: 50px 10px 10px 10px;

}
.panel-heading{
    height: 180px;
}
.panel-heading p {
    font-size: 22px
}
.fa{
    padding: 5px;
}
.panel-footer{
    padding: 10px;
}
.comp-icon{
    margin-bottom: 10px;
}
.list-title{
    text-align: center;
    margin-bottom: 20px;
}
.panel-past{
    color: rgba(255,255,255,0.7);
    background-color: #B5B5B5
}
.progress{
  height:50px;
}
.progress-bar{
  background-color: #068108;
}
.amount-total{
  padding: 15px;
  font-size: 20px;
}
.trophy img{
  max-height: 50px;
  border-radius: 50%;
}
.trophy-title{
  font-size: 20px;
  color: #7D7D7D;
}
.profile-content h3{
  font-size: 16px;
  color: #7D7D7D;
  padding-bottom: 10px;
}
.title{
  font-size: 24px;
  text-align: center;
}
.break50px{
  height: 50px;
}